#content
	%h1 About Us
	%p Renovo Design Studio is a landscape architecture firm that specializes in renewing, restoring, and renovating outdoor spaces.  We offer commercial, community, public, recreational, and residential design services, and are fully capable of providing all of the documents and drawings necessary for a successful landscape architecture project from initial conceptual sketches, drawings, and elevations to finished construction documents. We take pride in our ability to guide our clients through each step of the process to the ultimate goal, which is the completion of a successful, beautiful, and well-integrated finished product.
	
	#slider
		%div
			%h2 WHAT MATTERS
			%p Renovo Design Studio values conscientious design, environmental quality, innovation, knowledge, communication, and collaboration, and passion.
		%div
			%h2 CONSCIENTIOUS DESIGN
			%p We are committed to producing a final product for our clients that maximizes the livability and functionality of their outdoor spaces.
		%div
			%h2 ENVIRONMENTAL QUALITY
			%p We strive to create responsible designs that minimize environmental impact and improve environmental quality. We are inspired by the creative process that helps connect people with nature.
		%div
			%h2 INNOVATION
			%p Renovo Design Studio is synonymous with innovation. We are driven to build lasting environments that are not only well thought out, but also unique.
		%div
			%h2 KNOWLEDGE
			%p At Renovo, we understand the importance of continuing education – for our team and for our community. Sustainable design practices are evolving quickly and we strive to utilize design techniques that take advantage of the latest advancements in our field.
		%div
			%h2 COMMUNICATION
			%p We aim to fully understand your needs and desires. We value a partnership with ongoing, creative communication throughout the design and implementation process.
		%div
			%h2 COLLABORATION
			%p The Renovo design team is motivated and inspired by one another. Internally, we value working through the design process as a team, and we utilize a collaborative approach in our interaction with our clients and the greater community.
		%div
			%h2 PASSION
			%p The Renovo team is passionate about all of our work, regardless of the size or scope of the design.  We see each of our projects as an opportunity to exercise our creativity.