#content
	%h1 Renovo Design Studio
	%p
		100 Cherokee Boulevard | Suite 209
		%br
		Chattanooga, TN 37405
	%p 423.475.5330
	%p
		%a{:href => "mailto:rob@renovodesignstudio.com"} rob@renovodesignstudio.com
		%br
		%a{:href => "mailto:adam@renovodesignstudio.com"} adam@renovodesignstudio.com
		%br
		%a{:href => "mailto:errett@renovodesignstudio.com"} errett@renovodesignstudio.com