:css
	#header { display: none; }
	#container { text-align: center; margin: 36px auto; }

#title
	%h1
		%img{:src => "images/rds_logo.png"}
	#hovers
		.hover-item novatus
		.hover-item renovavi
		.hover-item restitutus
	#subtitles
		.subtitle-item renovate
		.subtitle-item renew
		.subtitle-item restore
.clear