#content
	%h1 Our Team
	%p We are committed to meeting the needs and desires of our clients through conscientious, sustainable, and innovative design. When you work with Renovo, you work with an entire team that is dedicated to creating unique, lasting, and intelligent spaces.
	#slider.team
		.person
			%img{:src => lorem.image('125x125', :background_color => '618DD0', :color => 'C1C1CB', :text => "team member")}
			%br
			.person-bio
				%p Rob Collins, ASLA
				%p President, is a native of Chattanooga who obtained a Master of Landscape Architecture from Mississippi State University where his interest in sustainable and ecological design grew into a passion. It was also at Mississippi State where he met Adam Jones, and the seeds of Renovo were planted. His graduate thesis, which won a national award from the American Society of Landscape Architects, examined wading bird foraging habitat on golf courses in southwest Florida. Prior to starting Renovo Design Studio, Rob worked with various golf course architects, including Gary Player Design, designing and building golf courses.
		.person
			%img{:src => lorem.image('125x125', :background_color => '618DD0', :color => 'C1C1CB', :text => "team member")}
			%br
			.person-bio
				%p Adam Jones, ASLA
				%p Designer, is energized by the creative process inherent to the practice of landscape architecture and strives to create organic and well designed spaces that engage the user’s senses and are grounded in the fundamentals of sound sustainable design. He is inspired by plants and believes that the variety and organic feel of spaces designed with the intelligent use of plant materials have a permanence and authenticity that is not common to less natural designs.  After receiving his Master of Landscape Architecture at Mississippi State University, he moved to Florida where his work in Palm Beach focused on residential estate gardens and large-scale commercial projects. In 2011, he joined Rob at Renovo bringing with him an abundant amount of enthusiasm and creativity.
		.person
			%img{:src => lorem.image('125x125', :background_color => '618DD0', :color => 'C1C1CB', :text => "team member")}
			%br
			.person-bio
				%p Errett Neill, RLA, ASLA
				%p Principal Designer, obtained her Master of Landscape Architecture at Louisiana State University. Her broad professional experience includes work with both commercial and residential projects throughout the United States and China. Errett’s duel passions for design and the outdoors makes landscape architecture the ideal professional fit for her. Her primary focus of design is in the creation of dynamic spaces that cleverly use a variety of plant and hardscape combinations. Errett joined Renovo in 2011 and plays an instrumental role in all aspects of the design process, from the creation of bid documents through the implementation of our designs.
