$drk: #89899d; //dark gray
$hlt: #618dd0; //bluish
$bkg: #c1c0ca; //light gray

@import url(http://fonts.googleapis.com/css?family=Fanwood+Text);

@mixin glow {
	text-shadow: 0 0 3px $drk;
}

body {
	background: $bkg;
	color: $drk;
	font: {
		family: "Fanwood Text", serif;
		size: 20px;
	}
	padding: 0px;
	margin: 0px;
}

a {
	color: $drk;
	text-decoration: none;
	&:hover {
		color: $hlt;
		@include glow;
	}
}

#header {
  height: 137px;
  width: 100%;
  background: white;
  padding: 6px 0 0;
  margin: 0;
  #site-logo {
    margin-left: 8.5%;
    img {
      margin: 0 0 0 0;
      padding: 0;
      border: 0;
    }
  }
  #header-contact-info {
    position: absolute;
    top: 12px;
    right: 8.5%;
    text-align: right;
  }
}

#wrapper {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
	min-height: 300px;
}

#container {
	width: 72%;
	max-width: 1024px;
	margin: 0 auto;
	padding: 12px;
	a {
  	color: lighten($bkg, 20%);
  	text-decoration: none;
  	&:hover {
  		color: lighten($hlt, 10%);
  		@include glow;
  	}
  }
	#content {
	  h1 {
	    position: relative;
	    left: 24px;
	    width: 500px;
	  }
	  p {
	    position: relative;
	    left: 24px;
	    width: 100%;
	  }
	}
	#splash-image {
	  text-align: center;
	  img {
	    margin-top: 28px;
	  }
	}
	#slider {
	  height: 200px;
	  width: 500px;
	  margin: 0 auto;
	  .slides_container{
	    div {
	      height: 215px;
	      width: 500px;
	      display: block;
  	    h2 {
  	      padding: 0 6px;
  	      left: 0;
  	    }
  	    p {
  	      padding: 0;
  	      left: 0;
  	    }
  	  }
  	  &.team div {
  	    height: 520px;
  	    img {
  	      float: left;
  	    }
  	    .person-bio {
  	      text-align: right;
  	    }
  	  }
	  }
	  ul.pagination {
	    width: 250px;
	    margin: 0 auto;
	    li {
	      float: left;
	      margin: 0 1px;
	      list-style: none;
	      a {
	        display: block;
	        width: 12px;
	        height: 0;
	        padding-top: 12px;
	        background-image: url(images/pagination.png);
	        background-position: 0 0;
	        float: left;
	        overflow: hidden;
	      }
	      &.current a {
	        background-position: 0 -12px;
	      }
	    }
	  }
	}
}

#title {
	margin: 0;
	h1 img {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	#subtitles {
		width: 80%;
		margin: 0px auto;
		.subtitle-item {
			float: left;
			width: 33%;
			font-size: 125%;
			&:hover {
				opacity: 1.0;
			}
		}
	}
	#hovers {
		width: 80%;
		margin: 0 auto;
		position: relative;
		bottom: -27px;
		font-size: 150%;
		opacity: 0.2;
		.hover-item {
			float: left;
			width: 33%;
		}
	}
}

.clear {
	clear: both;
	padding: 0 0 12px 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

#nav {
	text-align: center;
	padding: 12px 0;
	margin: 0;
	clear: both;
	background: #c1c0ca;
	.nav-item a {
		float: left;
		width: 25%;
	}
	#copyright {
		margin: 12px 0 0;
		font-size: 11pt;
		text-transform: lowercase;
		a {
		  text-decoration: underline;
		}
	}
}